<h2 class="content-block">Tasks</h2>

<div class="dx-card responsive-paddings">
<!--  <div style="text-align: right; padding-bottom: 10px;">-->
<!--    <dx-button-->
<!--      stylingMode="contained"-->
<!--      text="Create Task"-->
<!--      type="default"-->
<!--      (onClick)="createTask($event)"-->
<!--      icon="plus"-->
<!--    >-->
<!--    </dx-button>-->
<!--  </div>-->
  <dx-data-grid class="wide-card"
                [dataSource]="dataSource"
                [showBorders]="true"
                [focusedRowEnabled]="true"
                [focusedRowIndex]="0"
                [columnAutoWidth]="true"
                [columnHidingEnabled]="true">

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
    >
      <dxo-popup
        title="Task Info"
        [showTitle]="true"
        [width]="700"
        [height]="525"
      >
      </dxo-popup>
      <dxo-form>
        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-item dataField="Task_Subject"></dxi-item>
          <dxi-item dataField="Task_Status"></dxi-item>
          <dxi-item dataField="Task_Priority"></dxi-item>
          <dxi-item dataField="ResponsibleEmployee.Employee_Full_Name"></dxi-item>
          <dxi-item dataField="Task_Start_Date"></dxi-item>
          <dxi-item dataField="Task_Due_Date"></dxi-item>
          <dxi-item dataField="Task_Priority"></dxi-item>
          <dxi-item dataField="Task_Completion"></dxi-item>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column
      dataField="Task_ID"
      [width]="90"
      [hidingPriority]="2">
    </dxi-column>
    <dxi-column
      dataField="Task_Subject"
      [width]="190"
      caption="Subject"
      [hidingPriority]="8">
    </dxi-column>
    <dxi-column
      dataField="Task_Status"
      caption="Status"
      [hidingPriority]="6">
    </dxi-column>
    <dxi-column
      dataField="Task_Priority"
      caption="Priority"
      [hidingPriority]="5">
      <dxo-lookup
        [dataSource]="priority"
        valueExpr="value"
        displayExpr="name">
      </dxo-lookup>
    </dxi-column>
    <dxi-column
      dataField="ResponsibleEmployee.Employee_Full_Name"
      caption="Assigned To"
      [allowSorting]="false"
      [hidingPriority]="7">
    </dxi-column>
    <dxi-column
      dataField="Task_Start_Date"
      caption="Start Date"
      dataType="date"
      [hidingPriority]="3">
    </dxi-column>
    <dxi-column
      dataField="Task_Due_Date"
      caption="Due Date"
      dataType="date"
      [hidingPriority]="4">
    </dxi-column>
    <dxi-column
      dataField="Task_Priority"
      caption="Priority"
      name="Priority"
      [hidingPriority]="1">
    </dxi-column>
    <dxi-column
      dataField="Task_Completion"
      caption="Completion"
      [hidingPriority]="0">
    </dxi-column>
  </dx-data-grid>
</div>
